.title-comb {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	font-family: Ubuntu;
}

.wrapper-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.custom-card{
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  background-color: white;
  border-radius: 1em;
  width: 300px;
	padding: 0.5em;
}


.selector-electoral{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("parl.jpg");
  background-size: cover;
}

.shiny-output-error, .shiny-output-error:before { display: none; }

@media (max-width: 600px) {
  
  
  
.custom-navbar{
  display: flex;
  flex-direction: column;
} 

.table tbody tr th:nth-child(2){
  display: none;
}

.table thead tr th:nth-child(2){
  display: none;
}
}


.party-orientation {
	display: flex;
	font-family: Montserrat;
	font-weight: normal;
	font-size: 0.8em;
	gap: 0.5em;
	align-items: center;
}

.established{
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	font-size: 0.7em;
	align-items: center;
	font-family: Ubuntu;
	font-weight: normal;
}

.avatar img{
  object-fit: contain;
}

.far .fa-file-pdf{
  font-size: x-large;
}

@media (prefers-color-scheme: dark) {
  .highcharts-background{
    fill: #000000;
  }
  .highcharts-legend-item text{
    fill: #ffffff;
  }
  .highcharts-point path {
    stroke: transparent;
  }
}

[type="text"]{
  background-color: transparent;
}

.card {
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

select{
  background-color: transparent;
}

.select{
  display: contents;
}