.title-comb {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	font-family: Ubuntu;
}

.wrapper-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.custom-card{
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  background-color: white;
  border-radius: 1em;
  width: 300px;
	padding: 0.5em;
}


.selector-electoral{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html{
  background-image: url("parl.jpg");
}

.shiny-output-error, .shiny-output-error:before { display: none; }

@media (max-width: 600px) {
  
  
  
.custom-navbar{
  display: flex;
  flex-direction: column;
} 

.table tbody tr th:nth-child(2){
  display: none;
}

.table thead tr th:nth-child(2){
  display: none;
}
}
